<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Hello, <%= @user.email %></h2>
<p>
  You have some cards for review here: <%= @url %>.
  Hope you'll enjoy this
</p>
</body>
</html>
