<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2><%= I18n.t('hello') %>, <%= @user.email %></h2>
  <%= yield %>
</body>
</html>
